<div class="container mt-5">
  <div class="card">
    <h1 class="text-warning text-center">LEADERBOARDS</h1>
    <div class="">
      <div class="d-flex col d-flex justify-content-center">
        <br />
        <ol>
          <li *ngFor="let item of leaderboard">
            <h4 class="mr-5">
              {{ item.name }}
              <br />
              <span class="text-warning">Score: </span
              ><span>{{ item.score }}</span>
            </h4>
            <br />
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
