<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold text-warning">
    Welcome to the Movie Trivia Quiz
  </h1>
  <p class="col-md-8 fs-4">This quiz will have 10 timed questions.</p>
  <h4 class="text-warning">General Rules:</h4>
  <ol>
    <li>Correct Question answered will give you 50 points!</li>
    <li>Incorrect Question answered will take away 50 points!</li>
    <li>You will have 10 seconds to answer each Question.</li>
    <li>
      Faster you answer a Question the more points you get for each problem.
    </li>
    <li>But if you answer a problem wrong you will also lose more points.</li>
    <li>
      Ex: if you answer a problem right in 9 seconds you will gain 9x50 points.
    </li>
    <li>
      Ex: if you answer a problem wrong in 4 seconds you will lose 4x50 points.
    </li>
    <li>Try to get the high score in the Leader Board.</li>
  </ol>
  <div class="name col-md-4 my-3">
    <label for="">Enter your name:</label>
    <form>
      <input
        #name
        required
        matInput
        type="text"
        class="form-control"
        appearance="outline"
      />
      <br />
      <button
        type="submit"
        class="btn btn-primary btn-lg bg-warning text-black"
        routerLink="/question"
        (click)="startQuiz()"
      >
        Start
      </button>
    </form>
    <br />
    <button
      class="btn btn-primary btn-lg bg-blue text-white"
      routerLink="/leaderboard"
    >
      Leaderboard
    </button>
  </div>
</div>
